.users {
  align-items: center;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  background-color: rgb(29, 29, 29);
}
.users-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}
.users-title {
  margin: 0.67em 0;
  font-weight: unset;
  width: 100%;
  text-align: center;
}
.user-icons-container {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 2rem 0;
}
.icon-holder {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.user-icon {
  width: 5rem;
  height: 5rem;
  border-radius: 0.5rem;
  border: 1px solid white;
}
.account-user {
  margin-top: 0.3rem;
  opacity: 0.4;
}
.icon-holder:hover .user-icon {
  cursor: pointer;
  border: 1px solid rgb(29, 29, 29);
}
.icon-holder:hover .account-user {
  cursor: pointer;
  opacity: 1;
}

.manage-users {
  text-align: center;
  background: none;
  margin: 1rem 0;
  width: 25%;
  padding: 1rem 0.75rem;
  border: 2px solid white;
  opacity: 0.7;
}
.manage-users:hover {
  opacity: 1;
  cursor: pointer;
}
/* Dynamic Responsiveness */
@media screen and (max-width: 200px) {
  .user-icons-container {
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100%;
  }
  .user-icon {
    width: 2.5rem;
    height: 2.5rem;
  }
  .manage-users {
    display: none;
  }
}
@media screen and (max-width: 281px) and (min-width: 201px) {
  .users-container,
  .user-icons-container {
    width: 100%;
  }
  .user-icons-container {
    display: flex;
    flex-direction: column;
  }
  .manage-users {
    padding: 0.5rem 1.5rem;
  }
  .user-icons-container {
    margin-bottom: 1rem;
  }
}
@media screen and (max-width: 321px) and (min-width: 282px) {
  .user-icons-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
  }
  .user-icon {
    width: 4rem;
    height: 4rem;
  }
  .manage-users {
    display: none;
  }
}
@media screen and (max-width: 376px) and (min-width: 322px) {
  .users-container {
    width: 95%;
  }
  .user-icons-container {
    width: 100%;
  }
}
@media screen and (max-width: 426px) and (min-width: 376px) {
  .users-container {
    width: 95%;
  }
  .user-icons-container {
    width: 100%;
  }
}
@media screen and (max-width: 1025px) and (min-width: 850px) {
  .user-icon {
    width: 6rem;
    height: 6rem;
  }
}
@media screen and (max-width: 1441px) and (min-width: 1026px) {
  .user-icon {
    width: 8rem;
    height: 8rem;
  }
}
@media screen and (min-width: 1442px) {
  .user-icon {
    width: 10rem;
    height: 10rem;
  }
}
