.row {
  width: 100%;
  color: white;
}
.row > h2 {
  padding-left: 1.25rem;
}
.posters {
  display: flex;
  flex-direction: row;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 20px;
  padding-right: 0;
}

.poster {
  width: 70%;
  max-height: 150px;
  transition: transform 450ms;
  margin-right: 10px;
}
.posters::-webkit-scrollbar {
  display: none;
}
.poster:hover {
  transform: scale(1.08);
}
.posterLarge {
  max-height: 250px;
}
.posterLarge:hover {
  transform: scale(1.09);
}
/* Dynamic Responsiveness */

@media screen and (max-width: 200px) {
  .row > h2 {
    display: none;
  }
}

@media screen and (max-width: 280px) and (min-width: 201px) {
  .row {
    width: 100%;
    padding: 0;
  }
  .row > h2 {
    font-size: 1em;
    padding-left: 10px;
  }
  .posters {
    padding: 10px;
  }
  .posterLarge {
    width: 90%;
    max-height: 200px;
  }
}
@media screen and (max-width: 322px) and (min-width: 281px) {
  .row {
    width: 100%;
    padding: 0;
  }
  .row > h2 {
    padding-left: 15px;
  }
}
@media screen and (max-width: 321px) and (min-width: 281px) {
  .poster {
    width: 15rem;
  }
}
