.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: black;
  position: sticky;
  top: 0;
  z-index: 1;
  min-width: 100%;
}
.logo {
  flex: 20%;
  margin-left: 10px;
}
.others {
  display: flex;
  flex-direction: row;
  margin-right: 20px;
  align-items: center;
}
.option {
  margin: 0 10px;
}
.profile-icon {
  border-radius: 5px;
  width: 2rem;
  height: 2rem;
}
.option:hover {
  cursor: pointer;
}
.logo:hover {
  cursor: pointer;
}

@media screen and (max-width: 281px) {
  .navbar {
    max-width: 100%;
  }
  .searcher {
    max-width: 44vw;
  }
  .searchbar {
    margin: 0;
  }
  .user,
  .notification {
    display: none;
  }
}
@media screen and (max-width: 415px) {
  .navbar {
    max-width: 100%;
    width: 100%;
  }
  .searcher {
    max-width: 32vw;
  }
  .searchbar {
    margin: 0;
  }
}
@media screen and (max-width: 200px) {
  .navbar {
    min-width: 100%;
    position: fixed;
  }
}
