.banner {
  color: white;
  object-fit: contain;
  height: 28rem;
  margin-bottom: 10px;
  background-position: top center;
}
.title {
  margin-left: 30px;
  position: absolute;
  top: 200px;
  background: none;
  text-transform: uppercase;
  font-weight: 900;
}
.btns {
  margin-left: 30px;
  background: none;
  position: absolute;
  top: 250px;
  background: none;
}
.btn {
  border-radius: 10px;
  height: 40px;
  border: none;
  background: none;
}
.play {
  color: #111;
  background-color: #fff;
  width: 110px;
}
.more-info {
  margin-left: 20px;
  width: 130px;
  background-color: rgb(111, 111, 111);
}
.btn-content {
  padding: 10px;
  position: relative;
  bottom: 5px;
}
.more-info:hover {
  opacity: 0.5;
  cursor: pointer;
}
.play:hover {
  background-color: rgb(111, 111, 111);
  cursor: pointer;
}
.description {
  margin-left: 30px;
  width: 80%;
  position: absolute;
  top: 300px;
  background: none;
  height: 300px;
}
/* Dynamic Responsiveness */

@media screen and (max-width: 200px) {
  .banner {
    height: 15rem;
  }
  .title {
    top: 12rem;
    font-size: 1rem;
  }
  .btns {
    display: none;
  }
  .description {
    display: none;
  }
}

@media screen and (max-width: 321px) and (min-width: 201px) {
  .banner {
    width: 100%;
    height: 19em;
  }
  .title {
    margin-left: 10px;
    font-size: 1.2rem;
    top: 15rem;
  }
  .description {
    display: none;
  }
  .btns {
    top: 18rem;
    margin-left: 10px;
  }
  .btn {
    width: 2.5rem;
    height: 2.5rem;
  }
  .btn-content {
    display: none;
  }
}
@media screen and (max-width: 376px) and (min-width: 322px) {
  .banner {
    width: 100%;
    height: 24rem;
  }
  .title {
    top: 14rem;
  }
  .btns {
    top: 18rem;
  }
  .btn {
    height: 2rem;
  }
  .description {
    display: none;
  }
}
@media screen and (max-width: 426px) and (min-width: 377px) {
  .description {
    font-size: 0.77rem;
  }
}

@media screen and (max-width: 769px) and (min-width: 427px) {
  .banner {
    height: 25rem;
  }
  .title {
    top: 15rem;
  }
  .btns {
    top: 18rem;
  }
  .description {
    top: 21rem;
  }
}
@media screen and (max-width: 1025px) and (min-width: 770px) {
  .title {
    top: 15rem;
  }
  .btns {
    top: 18rem;
  }
  .description {
    top: 21rem;
  }
}
@media screen and (max-width: 1441px) and (min-width: 771px) {
  .banner {
    font-size: 1.5rem;
    height: 35rem;
  }
  .title {
    top: 15rem;
  }
  .btns {
    top: 20rem;
  }
  .description {
    top: 24rem;
  }
}

@media screen and (max-width: 2561px) and (min-width: 1442px) {
  .banner {
    height: 50rem;
  }
  .title {
    margin: 2rem;
    top: 30rem;
    font-size: 2.5rem;
  }
  .btns {
    margin: 2rem;
    top: 34rem;
  }
  .description {
    margin: 2rem;
    top: 39rem;
    font-size: 1.75rem;
  }
}
